
.blueimp-gallery >.indicator>li {
    width: 25px;
    height: 25px;
    border-radius: 25px;
}

.blueimp-gallery > .description {
    position: absolute;
    top: 30px;
    left: 15px;
    color: #fff;
}

.blueimp-gallery-controls > .description {
    display: block;
}

.file-input {
    margin-bottom: 50px;
    display: block;
}
